.c12 {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.bai {
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
}

.bai1 {
	font-family: "ו";
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
