<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext-resources.xml"/>
	<import resource="applicationContext-hibernate.xml"/>
	<import resource="applicationContext-ehcache.xml"/>
	
	<!--
	<import resource="applicationContext-acegi-cas.xml"/>
	-->
	
	<import resource="applicationContext-acegi-security.xml"/>	
	<!-- 
	<import resource="applicationContext-app.xml"/>	
		
	<import resource="applicationContext-webservice.xml"/>
	-->	

</beans>