

a {
	color: blue;
	font-weight: normal;
    text-underline: true;
}

/* from http://diveintomark.org/archives/2002/04/26/printfriendly_links */
a:after {
  content: " (" attr(href) ")";
}

a:visited {
	color: blue;
}

